.dino{
    width: 60px;
    height: 60px;
    background-color: green;
    position: absolute;
    bottom: 0;
}

.cactus{
    width: 60px;
    height: 60px;
    background-color: red;
    position: absolute;
    bottom: 0;
}